<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-指针的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-指针的应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-指针为什么要分类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-多级指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-指针与整数的加减法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-指针与数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-存储指针的数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-指针与指针之间的减法运算.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-指针与指针之间的比较运算.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Day11-指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC0AE3B92411D1FC00EB1B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0AE3C72411D6DD00EB1B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0AE3D22411EEEC00EB1B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0AE3DD2411F75C00EB1B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC28B4B624121EEE00C869B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC28B4C1241226D300C869B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC28B4CC2412295300C869B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC28B4D724123BA000C869B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC28B4E224123F3C00C869B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC28B4ED2412426300C869B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
