<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-复习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>01-预处理概述.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-文件包含指令.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-多文件开发.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-进制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-进制之间的转换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-变量存储的简单细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-原码、反码、补码.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-位运算.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-深入变量的细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-int类型的修饰符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>11-char变深入.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC6DA66C240CDFD70095E38C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC6DA677240CE6F30095E38C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC6DA682240CEEE50095E38C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC6DA68D240CFA4C0095E38C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC6DA698240D01130095E38C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC6DA6A3240D07F60095E38C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECB2544D240C8B450046675C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECB2545B240C8B6A0046675C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECB25466240C928B0046675C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECB25471240C957F0046675C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECB2547C240CA3EE0046675C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECB2548D240CACBF0046675C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECB25498240CB44C0046675C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
