<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-预处理指令概述.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-宏定义.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-带参数的宏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-条件编译指令.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-条件编译指令的应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-条件编译指令的第二种应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-static与extern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-全局变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-模块开发学生管理系统.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>11-main函数的返回值和参数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>12-知识点补充.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>13-大总结.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Day14-预处理指令.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC944B792418697D002841D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC944B872418706E002841D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC944B922418767F002841D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC944BA8241882AC002841D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC944BB324188BEC002841D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC944BBE2418907C002841D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC944BC924189406002841D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECAB82C22418B7C600595042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECAB82CD2418BC9F00595042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECAB82DB2418C42B00595042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECAB82EF2418C8D300595042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECAB83092418CC5D00595042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECAB83142418D58B00595042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECAB831F2418D94D00595042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
