<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-指针与字符串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-面试题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-字符串数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-字符串排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-字符串函数补充.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-const关键字.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-推箱子.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-推箱子优化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Day12-指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC0844D92414C94A00E59936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0844E42414D2B200E59936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0844EF2414E04500E59936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0844FA2414EADD00E59936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0ED4D824148D9700BDD0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0ED4E324148F9B00BDD0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0ED4EE241499F600BDD0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0ED4F924149D4000BDD0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8E2F5D2414742200C8D1C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8E2F6B241479E700C8D1C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
