<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-复习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-switch-case结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-程序的调试.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-循环结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-循环结构的第一种使用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-循环的第二种使用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-循环的第三种使用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-循环的第四种应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>09-循环的第五种应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>10-循环的第六种应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>11-break与continue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC08F1E52405F3FC007AD08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC08F1F32405F414007AD08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC08F2482406023C007AD08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC08F2532406164D007AD08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC78CAFD2406416C00C38DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC78CB0824064A5900C38DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC78CB132406562500C38DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC78CB1E24065ECF00C38DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC78CB292406612B00C38DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC78CB342406693F00C38DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC78CB3F2406735100C38DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC78CB4A2406789500C38DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
