<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-格式控制符总结.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-垃圾值的由来.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-数组的基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-数组在内存中的存储.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-数组的应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-数组与函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-数组的其他应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-数组的排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-冒泡排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-二分查找法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Day09-数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC442B99240E551A00E98613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC442BA4240E593200E98613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8423CC240DDEBF004676C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8423DA240DE20D004676C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8423E5240DE5D9004676C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8423F0240DEA2D004676C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC86BABE240E2B8A00EE8676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC86BAC9240E32AA00EE8676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC86BAD4240E3B7F00EE8676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC86BADF240E4B8500EE8676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC86BAEA240E504C00EE8676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
