<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-指针与函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-指向函数的指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-结构体的基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-结构体的基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-结构体数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-结构体指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-结构体嵌套.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-结构体与函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-枚举.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-typedef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>11-黑马学员管理系统.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>12-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Day13-结构体与枚举.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC9BBEC0241614AC00897762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9BBECB24161A2600897762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9BBED624161CBF00897762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9BBEE124161FE100897762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9BBEEC2416236F00897762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9BBEF724162FD500897762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9BBF022416381100897762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9BBF0D2416469000897762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF6E3FC2415C6910035424A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF6E40A2415C9970035424A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF6E4152415D0500035424A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF6E4202415D6140035424A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF6E42B2415EB420035424A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
