<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-第2个知识点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-第3个知识点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-第一个程序的解释.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-程序的入口.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-C语言的注释.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-计算机的三大件.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-数据的处理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>09-printf函数的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Day02-IDE的使用与数据类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC3025672400D1E2003F9B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC3025722400D5D9003F9B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC331B892401217C008D3FAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC52B49E2400C34C000C34EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC52B4AC2400C406000C34EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC52B4B72400C4B8000C34EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9A34842400C57900829936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9A348F2400C77300829936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9A349A2400CE1A00829936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
