<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-循环的应用场景.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>03-循环应用之计数与穷举.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>129</integer>
		</dict>
		<key>04-do-while循环结构.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>05-for循环.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>06-嵌套循环.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>07-九九乘法表.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>08-代码结构总结.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
</dict>
</plist>
