<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-复习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-循环的应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-循环应用之计数与穷举.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-do-while循环结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-for循环.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-嵌套循环.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-九九乘法表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-代码结构总结.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC126B982408E7F100A626D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC126BA32408FB1F00A626D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC126BAE24090ADA00A626D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC126BB924090C2300A626D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFADCE52408959300C54795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFADCF3240895B600C54795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFADCFE24089C5000C54795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFADD092408B66100C54795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFADD142408BCA100C54795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
